
  
.page-item.active .page-link {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}
  
.pagination > li > a,
.pagination > li > span {
  color: black;
}

.pagination > li > a:hover,
.pagination > li > span:hover {
    color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #504e4e51;
  border-color: #151417;
  color: #fff;
  cursor: default;
}